SKYGUARD_API_BASE=http://192.168.100.224:3001
SKYGUARD_DEVICE_KEY=sg_a637f2e7a490e894860a60f34e75b058831c5d949de666fb
BLE_PORT=/dev/ttyACM0
NRFUTIL_PATH=/home/admin/nrfutil7
CODED_PHY=true
DEDUPE_S=5
HEARTBEAT_INTERVAL_S=30
LOG_LEVEL=INFO
